/*
font-family: 'Fjalla One', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Playfair Display', serif;
*/

:root {
	--base-ff-Fjalla: "Fjalla One", sans-serif;
	--base-ff-Karla: "Karla", sans-serif;
	--base-ff-Playfair: "Playfair Display", serif;

	--base-col-white: #ffffff;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6
/* p */ {
	margin: 0;
	padding: 0;
}

button {
	padding: 0;
	border: none;
	font: inherit;
	color: inherit;
	background-color: transparent;
	
}

body {
	font-family: var(--base-ff-Karla);
	min-width: 100%;

	margin: 0;
	padding: 0;
}

.container {
	/* width: 100%; */

	display: flex;
	/* justify-content: space-between; */
	/* width: 1170px; */
	text-align: center;

	margin: 0 auto;
	flex-wrap: wrap;
}

.header {
	display: flex;
	justify-content: space-between;

	height: 75px;

	padding: 15px;

	background: #363a5b;
}

.header.fixed {
	padding: 10px 0;

	background-color: #363A5B;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

	position: fixed;

	display: flex;
	width: 100%;
	justify-content: space-between;
	padding: 15px;

	transform: translate3d(0, 0, 0);
	z-index: 1;
}

/* .header.active {
	background-color: red;
} */

.logo {
	display: flex;
}

.nav {
	display: flex;
	align-items: center;

	width: 495px;

	right: 0;
}

.nav_link {
	display: block;
	margin: 0 auto;

	font-family: var(--base-ff-Fjalla);
	font-size: 16px;
	text-decoration: none;
	color: var(--base-col-white);

	position: relative;

	/* margin-right: 10px; */
}

.nav_link:last-child {
	margin-right: 0;
}

.nav_link button {
	display: inline-block;

	width: 45px;
	height: 45px;

	cursor: pointer;
	border-radius: 50%;
	border: none;

	background-color: var(--base-col-white);
}

.nav_link:hover {
	color: #1cc9e4;
	transition: 0.3s linear;
}

.nav_link::after {
	content: "";
	display: block;
	width: 100%;
	height: 3px;

	margin: 0 auto;

	left: 0;
	top: 221%;

	background-color: #1cc9e4;

	position: absolute;

	z-index: 1;

	opacity: 0;

	transition: opacity 0.2s linear;
}

.nav_link:last-child::after {
	content: "";
	display: flex;
	width: 100%;
	height: 3px;

	left: 0;

	background-color: #1cc9e4;

	position: absolute;
	top: 127%;

	z-index: 1;

	transition: opacity 0.2s linear;
}

.nav_link:hover::after {
	opacity: 1;
}

/* 	?	@@@@@@@@@@	toggle	@@@@@@@@@ */

.nav_toggle {
	width: 30px;
	padding: 10px 0;
	display: none;

	font-size: 0;
	color: transparent;

	border: none;
	background: none;
	cursor: pointer;

	position: absolute;
	top: 27px;
	right: 15px;
	z-index: 1;
}

.nav_toggle:focus{
	outline: none;
}

.nav_toggle_item {
	display: block;
	width: 100%;
	height: 3px;

	background-color: var(--base-col-white);

	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;

	transition: 0.2s linear;
}

.nav_toggle.active .nav_toggle_item {
	background: none;
}

.nav_toggle.active .nav_toggle_item::before {
	transform-origin: left bottom;
	transform: rotate(45deg) translateX(-4px);
}
.nav_toggle.active .nav_toggle_item::after {
	transform-origin: left bottom;
	transform: rotate(-45deg) translateX(-2px);
}

.nav_toggle_item::before,
.nav_toggle_item::after {
	content: "";
	width: 100%;
	height: 3px;

	background-color: var(--base-col-white);

	position: absolute;
	left: 0;
	z-index: 1;

	transition: 0.2s linear;
}

.nav_toggle_item::before {
	top: -8px;
}

.nav_toggle_item::after {
	bottom: -8px;
}

/* 	todo	@@@@@@@@@@	TRAVEL	@@@@@@@@@ */

.travel {
	align-items: center;
	display: flex;

	flex-wrap: wrap;

	width: 100%;
	min-height: 330px;

	background: url(../images/bg/top_bg.jpg) center no-repeat;
	background-size: cover;
}

.vertical_text {
	position: absolute;
	top: 130px;
	left: -5px;

	color: var(--base-col-white);
	transform: rotate(270deg);

	font-family: var(--base-ff-Karla);
	font-size: 13px;
	font-weight: 700;
}

.travel_text {
	margin: 0 auto;
	text-align: center;

	width: 100%;

	justify-content: center;
	align-items: center;
}

.travel h1 {
	font-family: var(--base-ff-Playfair);
	font-size: 50px;
	font-weight: 700;
	color: var(--base-col-white);
}

.travel .travel_subtext {
	font-family: var(--base-ff-Karla);
	font-size: 14px;
	font-weight: 700;
	font-style: italic;
	color: var(--base-col-white);
}

/* Intro */

.intro {
	width: 100%;
	margin: 0 auto;
	padding-top: 50px;
	background: #272b49;
}

.container {
	/* width: 100%; */

	display: flex;
	justify-content: space-between;
	width: 1170px;
	text-align: center;

	margin: 0 auto;
	flex-wrap: wrap;
}

.intro_inner {
	width: 370px;

	justify-content: space-between;

	margin-bottom: 30px;
}

.intro_img {
	display: block;
}

.intro_text {
	background: #363a5b;
	height: 185px;
	width: 370px;
}

.intro_suptext {
	padding-top: 30px;
	font-family: var(--base-ff-Karla);
	font-weight: 700;
	font-size: 13px;
	color: #989aa7;
}

.intro_text h2 {
	font-family: var(--base-ff-Playfair);
	font-size: 20px;
	font-weight: 700;
	color: var(--base-col-white);

	line-height: 1.7;

	padding: 5px 35px 20px;
	/* padding-bottom: 30px; */
}

.intro_text a {
	font-family: var(--base-ff-Karla);
	font-size: 16px;
	color: #23acc7;
	text-decoration: none;
}

.pagination {
	display: flex;

	flex-wrap: wrap;
	width: 1170px;
	height: 60px;
	background: #363a5b;
	margin: 0 auto;
	margin-bottom: 50px;

	align-items: center;
}

.prev {
	background: url(../images/icons/larrow.png) left no-repeat;

	border-right: 1px solid #5e617c;
	height: 30px;
	margin-left: 30px;
	align-items: center;

	cursor: pointer;
}

.prev span {
	display: block;
	position: relative;
	margin: 0 30px;

	font-family: var(--base-ff-Karla);
	font-size: 15px;
	font-weight: 700;
	color: #d7d8dc;
}

.next {
	background: url(../images/icons/rarrow.png) right no-repeat;
	border: none;
	margin-right: 30px;

	cursor: pointer;

	border-left: 1px solid #5e617c;
	height: 30px;
}

.next span {
	margin: 0 30px;

	font-family: var(--base-ff-Karla);
	font-size: 15px;
	font-weight: 700;
	color: #d7d8dc;
}

.pagination_num {
	display: flex;
	margin: 0 auto;

	width: 265px;

	justify-content: space-between;
	align-items: center;
}

.pagination_num a {
	font-family: var(--base-ff-Karla);
	font-size: 15px;
	font-weight: 700;
	color: #989aa7;
	text-decoration: none;
}

.pagination_num .active {
	color: var(--base-col-white);
	display: flex;
	justify-content: center;
	align-items: center;

	border: none;
	border-radius: 50%;
	background: #1cc9e4;
	height: 40px;
	width: 40px;
}

/* !	FORM */

.form {
	display: flex;
	width: 100%;
	height: auto;

	margin: 0 auto;
	align-items: center;

	background: #5f6edd;
	height: 250px;
}

.form_inner {
	display: flex;
	text-align: center;
	flex-direction: column;

	justify-content: center;
	margin: 0 auto;

	align-items: center;
}

.form_inner h3 {
	font-family: var(--base-ff-Playfair);
	font-size: 30px;
	font-weight: 700;
	color: var(--base-col-white);
	margin: 0 20px;
}

.form_email {
	margin: 30px 0;
}

.email {
	font-family: var(--base-ff-Karla);
	font-size: 17px;
	font-weight: 400;
	color: #888888;

	width: 350px;
	height: 45px;

	border: none;
	border-radius: 99em;

	padding-left: 25px;
}

.form_email button {
	font-family: var(--base-ff-Karla);
	font-size: 17px;
	font-weight: 700;
	color: var(--base-col-white);

	background: #ffbf35;
	border-radius: 99em;

	width: 140px;
	height: 45px;

	position: absolute;

	transform: translateX(-130px);

	cursor: pointer;
}

.form_sub {
	font-family: var(--base-ff-Karla);
	font-size: 15px;
	font-weight: 400;
	color: #b9beee;
}

/* 370x45 */

/* !	FOOTER */

.footer {
	display: flex;
	width: 100%;
	height: 105px;
	background-color: #363a5b;
	justify-content: space-between;
	padding: 30px;
	line-height: 1.8;
}

.footer_text h3 {
	font-family: var(--base-ff-Fjalla);
	font-size: 20px;
	color: var(--base-col-white);
}

.footer_text p {
	font-family: var(--base-ff-Karla);
	font-size: 11px;
	font-weight: 400;
	color: #87899c;
}

.footer_btn {
	position: relative;
	display: flex;
	align-items: center;
	text-decoration: none;

	font-family: var(--base-ff-Fjalla);
	font-size: 17px;
	color: var(--base-col-white);
}

.footer_bth_inner {
	width: 46px;
	height: 46px;

	border-radius: 50%;

	background: var(--base-col-white);

	margin-left: 15px;

	background: var(--base-col-white);
	cursor: pointer;
}

.footer_btn::after {
	content: "";
	display: block;
	width: 16px;
	height: 16px;

	border-top: 2px solid #888888;
	border-right: 2px solid #888888;

	position: absolute;
	top: 38%;
	right: 15px;
	z-index: 1;

	transform: translateY(20%) rotate(315deg);
}

/* !	Лэптоп	max-width: 1230px */

@media (max-width: 1230px) {
	/* Intro */

	.container {
		width: 100%;
		display: flex;
		position: relative;
		max-width: 770px;
	}

	/* ?	INTRO */

	.intro_inner {
		width: 370px;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
}
/* !	Лэптоп	max-width: 820px */

@media (max-width: 820px) {
	.container {
		max-width: 600px;
	}

	.nav {
		display: flex;
		align-items: center;

		width: 370px;

		right: 0;
	}

	/* ?	INTRO */

	.intro_inner {
		margin: 0 auto 30px;
	}

	/* ?	PAGINATION */

	.pagination_num {
		display: flex;
		margin: 0 auto;
		width: 200px;
		justify-content: space-between;
		align-items: center;
	}
}

/* !	Лэптоп	max-width: 550px */

/* изменить размер картинкам скрыть навигацию, изменить пагинацию, изменить форму */
@media (max-width: 550px) {
	.nav {
		display: none;
		position: absolute;
		width: 100%;

		padding: 8px 0;

		top: 99%;

		background: #4d5179;

		flex-direction: column;
		text-align: center;
	}

	.nav.active {
		display: block;

		top: 74px;
		/* z-index: 1; */
	}

	.nav_link {
		width: 100%;
	}

	.nav_link::after {
		position: relative;
	}

	.nav_link:last-child::after {
		position: relative;
	}

	.nav_toggle {
		display: block;
	}

	/* ?	INTRO */

	.intro_img {
		max-width: 100%;
	}

	.intro_inner {
		max-width: 100%;
	}

	.intro_text {
		height: auto;
		padding-bottom: 10px;
	}

	/* ?	FORM */

	.form {
		min-height: 250px;
		height: auto;
		padding: 30px 0;
	}

	.email {
		max-width: 300px;
	}

	.form_email {
		display: flex;
		position: relative;
		width: 100%;
		height: 80px;

		justify-content: center;
	}

	.form_email .email {
		margin: 0 auto;
	}

	.form_email button {
		font-family: var(--base-ff-Karla);
		font-size: 17px;
		font-weight: 700;
		color: var(--base-col-white);

		background: #ffbf35;
		border-radius: 99em;

		max-width: 140px;
		height: 45px;

		transform: translateY(60px);

		cursor: pointer;
	}

	/* ?	PAGINATION */
	.pagination {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: auto;

		padding: 30px 0;

		flex-wrap: nowrap;
	}

	.prev {
		margin: 0;
		padding: 0;

		border: none;

		transform: translateX(15px);
	}

	.next {
		margin: 0;
		padding: 0;

		border: none;

		transform: translateX(-15px);
	}

	.pagination_num {
		padding: 20px 0;
	}
}
